@import './../../variables.scss';

.dt-wrap {
    .sort-hider {
        display: none;
    }
    .data-table-extensions {
        padding-bottom: 25px;
    }
}

.user-pointed {
    min-width: 50px;
    background-color: $primary-color;
    text-align: center;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    color: $text-color-white;
}

.map-wrap {
    float: left;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
}
