@import './../../variables.scss';

.pop-up-wrap {
    position: fixed;
    left: 0;
    width: 100vw;
    top: 0;
    height: 100vh;
    min-width: 350px;
    z-index: 9999;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
    // background: $grey-color-x3;
    transition: opacity 0.3s;
    opacity: 0;
    @include flex-row();
    pointer-events: none;
    color: #fff;

    &.active {
        opacity: 1;
        pointer-events: initial;
    }

    .pop-up-box {
        width: calc(100vw - 50px);
        background: $primary-color;
        height: calc(100vh - 100px);
        padding: 10px;
        padding-top: 30px;
        border-radius: 16px;
        transition: transform 0.6s;
        margin-bottom: 40px;
        transform: scale(0);
        box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 1);

        &.responsive {
            height: auto;
        }

        &.active {
            transform: scale(1);
        }

        .header-wrap {
            width: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            padding: 5px;
            padding-right: 15px;

            .close-button {
                cursor: pointer;
                float: right;
                font-size: 18px;
                color: $text-color-white;
            }
        }

        .body-wrap {
            display: flex;
            height: calc(100% - 100px);
            width: 100%;
            flex-direction: column;
        }

        .body-wrap-small {
            display: flex;
            height: calc(100% - 100px);
            width: 100%;
            margin-bottom: 20px;
            flex-direction: column;
        }
    }
}

.pop-up-wrap.short-pop .pop-up-box {
    width: calc(50vw - 50px);
    overflow: auto;
    padding: 30px;
    min-width: 400px;
    height: auto;
    max-height: calc(100vh - 90px);
}
