@import './../../variables.scss';

.home-wrap {
    color: $text-color-white;

    a {
        color: $text-color-white;
    }
}

.all-users-wrap {
    float: left;
    width: 100%;
    margin-top: 10px;
    @include flex-row();
    flex-wrap: wrap;

    .user-item {
        background: $green-color;
        min-width: 190px;
        flex: 1;
        padding: 10px;
        margin: 5px;
        border-radius: 2px;

        &.not-shown {
            background: $red-color;
        }
    }
}
