@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300;400;500;700&display=swap');
@import './variables.scss';

body {
    background-color: #424242;
    font-family: 'Jura', sans-serif;

    * {
        box-sizing: border-box;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.main-container {
    // max-width: 1400px;
    padding: 10px;
    margin: 0 auto;
}

.container {
    max-width: 1400px;
    padding: 10px;
    margin: 0 auto;
}

.floar-left {
    float: left !important;
}

button,
.button {
    padding: 8px 30px !important;
    border-radius: 5px;
    border: 0px;
    background-color: $primary-main-color;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    border-color: $primary-main-color;
    font-family: 'Jura', sans-serif;
}

h1 {
    color: #fff;
    text-align: center;
}

.sort-hider {
    display: none;
}

.form-styles {
    label.field-wrap {
        margin-bottom: 20px;
        float: left;
        width: 100%;
        border-bottom: 1px solid $primary-color-highlight;
        padding-bottom: 20px;
    }

    .input-area {
        width: 100%;
        padding: 10px 8px;
        border-radius: 5px;
        border: 0px;
        margin: 3px 0;
    }

    .rfp-error-label {
        font-size: 12px;
        color: $red-color;
    }

    button {
        float: right;
    }
}

.flex--full-wrap {
    @include flex-row();
    height: 90vh;
}
