@import './variables.scss';

body {
    background-color: #424242;

    * {
        box-sizing: border-box;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.main-container {
    // max-width: 1400px;
    padding: 10px;
    margin: 0 auto;
}

.container {
    max-width: 1400px;
    padding: 10px;
    margin: 0 auto;
}

.floar-left {
    float: left !important;
}

button {
    padding: 8px 30px;
    border-radius: 5px;
    border: 0px;
}
